
<div *ngIf="loaded" style="margin: auto;"> 
    <div class="p-grid">
        <div class="p-col-12">
            <img class="margin-center app-panel-borders" style="display:block; width: 100%"  [src]="mapViewModel.map"/>
        </div>
        <div class="p-col-12">
            <div class="app-fieldset-container">
                <p-galleria galleriaClass="app-panel-borders" [value]="mapViewModel.pictures" [containerStyle]="{'max-width': '100%'}" thumbnailsPosition="top">
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="p-grid p-nogutter p-justify-center">
                            <img [src]="item" style="display:block; width: 100%">
                        </div>
                    </ng-template>
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item" style="display:block; max-width: 100%; max-height: 100%; width: 100%;  object-fit: contain"  />
                    </ng-template>
                </p-galleria>
            </div>
        </div>
    </div>
</div>