<div *ngIf="loaded" style="margin: auto; overflow-y: auto;" class="app-fieldset">
    <div *ngFor="let review of reviewViewModel.reviews">
        <div class="app-fieldset-container">
            <p-fieldset legend="Review">
                <div><span style="font-weight: bold;">{{review.authorName}}</span></div>
                <div>
                    <p-rating *ngIf="review.rating" style="display: inline-block; margin: 5px;" [ngModel]="review.rating" [readonly]="true" [cancel]="false"></p-rating>
                    <span *ngIf="review.relativeTimeDescription" style="display: inline-block; margin: 5px; font-weight: lighter;">{{review.relativeTimeDescription}}</span>
                </div>
                <div *ngIf="review.text"><span>{{review.text}}</span></div>
            </p-fieldset>
        </div>  
    </div>
</div>
