<div *ngIf="!isLoading && activeDestination">
    <div class="app-panel">
        <p-carousel [value]="panels" [numVisible]="3" [responsiveOptions]="responsiveOptions">
            <ng-template let-panel pTemplate="item">
                <div *ngIf="panel.type == panelTypes.map">
                    <app-map [mapViewModel]="panel"></app-map>
                </div>
                <div *ngIf="panel.type == panelTypes.details">
                    <app-details [detailViewModel]="panel"></app-details>
                </div>
                <div *ngIf="panel.type == panelTypes.picture">
                    <app-picture [pictureViewModel]="panel"></app-picture>
                </div>
                <div *ngIf="panel.type == panelTypes.review">
                    <app-review [reviewViewModel]="panel"></app-review>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="app-menu">
        <p-menubar [model]="menuItems">
            <ng-template pTemplate="start">{{activeDestination.name}}</ng-template>
        </p-menubar>
    </div>  
</div>