/* .app-panel {
    max-width: 1500px;
    margin: auto;
}
*/
/* .app-menu {
    max-width: 500px;
    margin: auto;
} */

.p-carousel-indicators {
    display: none !important;
}

.p-carousel-prev {
    margin: 0 !important;
}

.app-fieldset {
    height: 500px !important;
}

.app-panel-borders {
    border: 1px solid #e0e0e0; 
    border-radius: 4px;
}