<div *ngIf="!isLoading && activeDestination">
    <div class="app-panel p-grid">
        <div class="p-xl-5 p-xl-offset-1 p-lg-6 p-lg-offset-0 p-md-10 p-md-offset-1 p-sm-12">
            <app-map [mapViewModel]="mapPanel"></app-map>
        </div>
        <div class="p-xl-5 p-lg-6 p-lg-offset-0 p-md-10 p-md-offset-1 p-sm-12">
            <app-details [detailViewModel]="detailsPanel"></app-details>
        </div>
    </div>
    <div class="app-menu">
        <p-menubar [model]="menuItems">
            <ng-template pTemplate="start">{{activeDestination.name}}</ng-template>
        </p-menubar>
    </div>  
</div>
<p-dialog header="Login" [modal]="true" [closable]="false" [resizable]="false" [draggable]="false" [(visible)]="displayDialog">
    <app-login></app-login>
</p-dialog> 